.selectContainer {
    border: 1px solid black;
    background-color: lightgray;
    height: auto;
    width: 110px;
    padding: 10px;
}
.selectContainer h3 {
    margin: 0
}
ul li {
    list-style: none;
}
ul {
    padding: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.selectItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selectItem img {
    width: 20px;
    height: 10px;
}
